In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("../data/train.csv")

In [3]:
df = df[df['Age'].notnull()]

df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

df['Fare'].fillna(df['Fare'].median(), inplace=True)

df['HasCabin'] = df['Cabin'].notnull().astype(int)

C:\Users\nehue\AppData\Local\Temp\ipykernel_16112\1203384094.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
C:\Users\nehue\AppData\Local\Temp\ipykernel_16112\1203384094.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fare'].fillna(df['Fare'].median(), inplace=True)

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  714 non-null    int64
 1   Survived     714 non-null    int64
 2   Pclass       714 non-null    int64
 3   Name         714 non-null    object
 4   Sex          714 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        714 non-null    int64
 7   Parch        714 non-null    int64
 8   Ticket       714 non-null    object
 9   Fare         714 non-null    float64
 10  Cabin        185 non-null    object
 11  Embarked     714 non-null    object
 12  HasCabin     714 non-null    int32
dtypes: float64(2), int32(1), int64(5), object(5)
memory usage: 75.3+ KB

### I'd change the dtypes to make it more efficient (less bits for the integers and floats).

In [6]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,HasCabin
count,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000
mean,448.582633,0.406162,2.236695,29.699118,0.512605,0.431373,34.694514,0.259104
std,259.119524,0.491460,0.838250,14.526497,0.929783,0.853289,52.918930,0.438450
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,222.250000,0.000000,1.000000,20.125000,0.000000,0.000000,8.050000,0.000000
50%,445.000000,0.000000,2.000000,28.000000,0.000000,0.000000,15.741700,0.000000
75%,677.750000,1.000000,3.000000,38.000000,1.000000,1.000000,33.375000,1.000000
max,891.000000,1.000000,3.000000,80.000000,5.000000,6.000000,512.329200,1.000000

In [9]:
df['Pclass'] = df['Pclass'].astype('int8')       
df['PassengerId'] = df['PassengerId'].astype('int8')             
df['Survived'] = df['Survived'].astype('int8')
df['Age'] = df['Age'].astype('int8')
df['SibSp'] = df['SibSp'].astype('int8')
df['Parch'] = df['Parch'].astype('int8')
df['Fare'] = df['Fare'].astype('int16')
df['HasCabin'] = df['HasCabin'].astype('int8')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 714 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  714 non-null    int8
 1   Survived     714 non-null    int8
 2   Pclass       714 non-null    int8
 3   Name         714 non-null    object
 4   Sex          714 non-null    object
 5   Age          714 non-null    int8
 6   SibSp        714 non-null    int8
 7   Parch        714 non-null    int8
 8   Ticket       714 non-null    object
 9   Fare         714 non-null    int16
 10  Cabin        185 non-null    object
 11  Embarked     714 non-null    object
 12  HasCabin     714 non-null    int8
dtypes: int16(1), int8(7), object(5)
memory usage: 39.7+ KB

### Creating important features and cleaning the ones we don't need